* {
  margin: 0px;
  padding: 0px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  width: fit-content;
}
.App{
  display: flex;
  height: 100vh;
}
/*===Side Bar Left===*/
/* .fixed-div{
  position: fixed;
} */
.side-bar-left{
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/*=Heading=*/
.head-logo{
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-logo p{
  width: fit-content;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: -0.68px;
}
.main-icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/*=Nav List=*/
.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 16px;
}
.nav-items{
  display: flex;
  align-items: center;
  height: 48px;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #8A8FA1;
}
.nav-logo{
  height: 24px;
  width: 24px;
  margin: 0px 12px;
}
/*=Pro Box=*/
.pro-box{
  width: 224px;
  height: 201px;
  border: 1px solid #438aec;
  margin-bottom: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
}